.App {
  text-align: center;
}
.App .container {
  margin-top: 15%; 
  width: 80%;
  max-width: 500; 
}
.temperature-bar-container {
  margin-bottom: 20px; 
  position: relative;
}
.progress {
  margin-bottom: 0px; 
}
.alert-text {
  font-weight: bold;
  color: #d9534f;
}

.scale-step {
  position: absolute;
  z-index: 1;
  bottom: 20px;
}

.label-line {
  background-color:#000;
  height: 20px;
  width: 1px;
  margin-right:5px;  
}

@media only screen and (min-width: 768px) {
  .App .container {
    width: 50%;
    max-width: 500; 
  }
}

